
//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/*
 * 3 daily layers + 1 hidden admin layer
 * BASE = typing
 * CODE = numpad + symbols
 * SYS  = apps/workspaces/browser/computer control
 * ADM  = bluetooth, F-keys, media, bootloader
 */

#define BASE 0
#define CODE 1
#define SYS  2
#define ADM  3

&caps_word {
    /delete-property/ ignore-numbers;

    continue-list = <BACKSPACE DELETE UNDERSCORE MINUS>;
};

&sl { release-after-ms = <1500>; };

&sk {
    release-after-ms = <1500>;
    quick-release;
};

/ {
    behaviors {
        td_code: tap_dance_code {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&sl CODE>, <&tog CODE>;
        };

        td_sys: tap_dance_sys {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&sl SYS>, <&tog SYS>;
        };

        td_adm: tap_dance_adm {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&sl ADM>, <&tog ADM>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_morph: dot_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        /* high-value base combos only */

        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&caps_word>;
            layers = <BASE>;
        };

        combo_lpar {
            timeout-ms = <40>;
            key-positions = <6 7>;
            bindings = <&kp LPAR>;
            layers = <BASE>;
        };

        combo_rpar {
            timeout-ms = <40>;
            key-positions = <7 8>;
            bindings = <&kp RPAR>;
            layers = <BASE>;
        };

        combo_lbkt {
            timeout-ms = <40>;
            key-positions = <16 17>;
            bindings = <&kp LBKT>;
            layers = <BASE>;
        };

        combo_rbkt {
            timeout-ms = <40>;
            key-positions = <17 18>;
            bindings = <&kp RBKT>;
            layers = <BASE>;
        };

        combo_lbrc {
            timeout-ms = <40>;
            key-positions = <27 28>;
            bindings = <&kp LBRC>;
            layers = <BASE>;
        };

        combo_rbrc {
            timeout-ms = <40>;
            key-positions = <28 29>;
            bindings = <&kp RBRC>;
            layers = <BASE>;
        };

        combo_less {
            timeout-ms = <40>;
            key-positions = <1 2>;
            bindings = <&kp LESS_THAN>;
            layers = <BASE>;
        };

        combo_greater {
            timeout-ms = <40>;
            key-positions = <2 3>;
            bindings = <&kp GREATER_THAN>;
            layers = <BASE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
         &kp Q  &kp W  &kp E          &kp R      &kp T        &kp Y     &kp U    &kp I         &kp O       &kp P
         &kp A  &kp S  &kp D          &kp F      &kp G        &kp H     &kp J    &kp K         &kp L       &kp SEMI
&kp TAB  &kp Z  &kp X  &kp C          &kp V      &kp B        &kp N     &kp M    &comma_morph  &dot_morph  &kp FSLH  &td_sys
                       &mt LCTRL ESC  &kp SPACE  &sk LSHFT    &td_code  &kp RET  &kp BSPC
            >;
        };

        code_layer {
            bindings = <
        &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp DOLLAR        &kp PERCENT  &kp QUESTION    &kp ASTRK  &kp N7  &kp N8   &kp N9  &kp MINUS
        &kp AMPERSAND    &kp SQT            &kp GREATER_THAN  &kp PIPE     &kp CARET       &kp FSLH   &kp N4  &kp N5   &kp N6  &kp PLUS
&trans  &kp TILDE        &kp GRAVE          &kp SEMICOLON     &kp AT       &kp HASH        &kp DOT    &kp N1  &kp N2   &kp N3  &kp EQUAL  &to BASE
                                            &trans            &trans       &trans          &trans     &kp N0  &kp RET
            >;
        };

        sys_layer {
            bindings = <
         &kp LG(N1)       &kp LG(N2)   &kp LG(N3)       &kp LG(N4)     &kp LG(N5)       &kp LA(N1)    &kp LA(N2)    &kp LA(N3)  &kp LA(N4)     &kp LA(N5)
         &kp LG(N6)       &kp LA(TAB)  &kp LS(LA(TAB))  &kp LG(SPACE)  &kp LA(SPACE)    &kp LEFT      &kp DOWN      &kp UP      &kp RIGHT      &kp DEL
&td_adm  &kp LC(LS(TAB))  &kp LC(TAB)  &kp LC(T)        &kp LC(LS(T))  &kp LC(W)        &kp LS(LEFT)  &kp LS(DOWN)  &kp LS(UP)  &kp LS(RIGHT)  &kp RC(B)   &to BASE
                                       &trans           &trans         &trans           &trans        &kp RET       &kp BSPC
            >;
        };

        adm_layer {
            bindings = <
          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &out OUT_BLE    &kp F1   &kp F2    &kp F3      &kp F4        &kp F5
          &out OUT_USB  &out OUT_BLE  &none         &none       &none           &kp F6   &kp F7    &kp F8      &kp F9        &kp F10
&to BASE  &none         &none         &none         &none       &none           &kp F11  &kp F12   &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &bootloader
                                      &trans        &trans      &trans          &trans   &kp C_PP  &kp C_MUTE
            >;
        };
    };
};
